@use 'src/colors';
@use 'src/icons';

.wrapper {
  position: absolute;
  width: icons.$icon-size;
  height: icons.$icon-size;
}

.start {
  left: 12px;
}

.icon {
  stroke: colors.$success-main;
  fill: none;
  stroke-width: 2px;
  width: inherit;
  height: inherit;
}
