@use 'src/colors';
@use 'src/icons';

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px;
  padding-left: calc(icons.$icon-size + 24px);
  border: none;
  outline: none;
  border-bottom: 1px colors.$text-secondary solid;
  font-family: system-ui, monospace;
  font-size: 16px;
  line-height: 16px;
  color: colors.$text-main;
}

.input::placeholder {
  color: colors.$text-secondary;
  font-family: system-ui, monospace;
  font-size: 16px;
  line-height: 16px;
}
