@use '../../colors.scss';

.container {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 25px colors.$text-light;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  padding-top: 20px;
}

.actions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
