@use 'src/colors';

.container {
  height: 600px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 32px colors.$text-light;
  background-color: white;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 64px;
  padding-top: 32px;
}

.marginTop {
  margin-top: 24px;
}
