@use 'src/colors';

.button {
  min-width: 192px;
  padding: 12px;
  border: none;
  border-radius: 25px;
  outline: none;
  background-color: colors.$success-main;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  background-color: colors.$success-secondary;
}

.button:disabled {
  cursor: default;
  background-color: colors.$success-light;
}

.children {
  font-family: system-ui, monospace;
  color: white;
  font-size: 16px;
  line-height: 16px;
}
